Workflows/Whenanitemiscreated-StartandwaitforanapprovalCondi-0FF06CCC-242E-EF11-8E4F-6045BD7271C5.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedapprovals_5e5d0"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedsharepointonline_9d02b"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_88cfb"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedteams_c4db2"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_item_is_created": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "5d291901-9144-49a6-947f-95d013c0bc15"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://mandelbulbtech.sharepoint.com/sites/MandelbulbTechnologies",
              "table": "9c5d3400-be5a-4195-b62a-27bde56bd685"
            },
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnNewItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f00b9aa5-c9a0-4bf6-893b-b282d381ce21"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "New Expense Request for @{triggerBody()?['Title']}",
              "WebhookApprovalCreationInput/assignedTo": "@triggerBody()?['Approver']",
              "WebhookApprovalCreationInput/details": "New Expense Request ",
              "WebhookApprovalCreationInput/requestor": "@triggerBody()?['Author']?['Email']",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Update_item": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ca4e45b9-eae1-4d32-9b7c-d5c2878c6790"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://mandelbulbtech.sharepoint.com/sites/MandelbulbTechnologies",
                  "table": "9c5d3400-be5a-4195-b62a-27bde56bd685",
                  "id": "@triggerOutputs()?['body/ID']",
                  "item/ApprovalStatus/Value": "Approved",
                  "item/Approver": "mohit.agarwal@mandelbulbtech.com"
                },
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Update_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "894222b9-f570-4cb1-aaae-a57c0da4f2a1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@triggerBody()?['Author']?['Email']",
                  "emailMessage/Subject": "Your Expense Approval Request has been approved!",
                  "emailMessage/Body": "<p>Your Expense Request for @{body('Update_item')?['Title']}, Created on  @{triggerBody()?['CreatedOn']} has been approved.</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Post_message_in_a_chat_or_channel": {
              "runAfter": {
                "Send_an_email_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "db9bf960-f9c0-4c76-83ed-c7dedb087da1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/recipient": "@triggerBody()?['Approver']",
                  "body/messageBody": "<p>Your Expense has been approved Successfully.</p>"
                },
                "host": {
                  "connectionName": "shared_teams",
                  "operationId": "PostMessageToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_item_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "c01eaf9a-d552-4902-88ae-4ac3e95b17da"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "dataset": "https://mandelbulbtech.sharepoint.com/sites/MandelbulbTechnologies",
                    "table": "9c5d3400-be5a-4195-b62a-27bde56bd685",
                    "id": "@triggerOutputs()?['body/ID']",
                    "item/ApprovalStatus/Value": "Pending",
                    "item/Approver": "@triggerBody()?['Approver']"
                  },
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "PatchItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
              "Approve"
            ]
          },
          "metadata": {
            "operationMetadataId": "2704dde6-ef90-4e49-bda8-d14d69444476"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}